@using gr8Match.Controllers

@{
    ViewBag.Title = "Min profil";
}
<h2>Vill du avregistrera dig?</h2>
<p>Klicka på knappen nedan om du vill avregistrera dig. Du kommer då inte längre synas för andra användare.</p>
<p>Du kommer kunna aktivera ditt konto igen på din profilsida</p>
<p class="btn btn-default">@Html.ActionLink("Avregistrera konto", "Deactivate","Profile") &raquo;</p>


