@using gr8Match.Models
@model ProfileIndexViewModel
@{
    ViewBag.Title = "Mina Vänner";
}

@Html.Partial("NewFriendRequests")

    <table>
        <h2>Här är dina vänner:</h2>
        @if (Model.Users.Count == 0)
        {
            <tr>
                <td>Du har ju inga vänner :'(</td>
            </tr>
        }
        else
        {
            foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.FirstName </td>
                    <td>@user.LastName</td>
               

                </tr>
            }
        }
    </table>
<hr />
