@using gr8Match.Models
@model ProfileIndexViewModel
@{
    ViewBag.Title = "Mina Vänner";
}

<h2>Här tänker jag att man ska se sina vänner</h2>

<table>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td></td>
        </tr>
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>
    }
</table>
<hr />
