@model gr8Match.Models.OtherProfileViewModel


@{
    ViewBag.Title = Model.OtherUser.FirstName + " Profil";
}


    <div>
        @if (Model.OtherUser.ProfileImage == null)
        {<img src="~/Images/defaultImg.jpg" width="150" height="150" />}

        else
        {<img src="@Url.Content(Model.OtherUser.ProfileImage)" width="150" height="150" />}
       
    </div>

<div>
    <table class="table">

        <tr>
            <td>
                @Model.OtherUser.FirstName

            </td>
            <td>
                @Model.OtherUser.FirstName
            </td>
            <td>
                @{int age = new DateTime(DateTime.Now.Subtract(Model.OtherUser.DateOfBirth).Ticks).Year - 1;}
                @age år
            </td>

        </tr>

    </table>
</div>

<div>

    Mina Intressen

    <table class="table">

        @foreach (var i in Model.OtherUserInterests)
        {
            <tr>
                <td>
                    @i
                </td>
            </tr>
        }
    </table>
</div>

<div>
     @*Här tar vi en partialview med meddelande genom webapi*@
</div>