@model gr8Match.Models.SeachBarViewModel
@{
    ViewBag.Title = "Alla Användare";
}

    <br />
    <div>
        @using (Html.BeginForm("SearchBar", "Profile", FormMethod.Get))
        {
            @Html.TextBox("search")
            <input class="btn btn-default" type="submit" value="Sök" />
        }
    </div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Profil</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.User)
        {
            <tr>
                <td>
                    @item.FirstName @item.LastName @Html.ActionLink("Visa Profil", "OtherProfile", "Profile", routeValues: new { item.Id }, htmlAttributes: null)
                </td>
            </tr>
        }
        @if (Model.User.Count() == 0)
        {
            <tr>
                <td>
                    <h6>Din sökning gav inga träffar</h6>
                </td>
            </tr>
        }

    </tbody>
</table>
