@model gr8Match.Models.SeachBarViewModel
@{
    ViewBag.Title = "Startsida";
}

@using (Html.BeginForm("SearchBar", "Profile", FormMethod.Get))
{
    @Html.TextBox("search")<input type="submit" value="Search" />
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Profile</th>
        </tr>
    </thead>
    <tbody>
            
            @foreach (var item in Model.User)
                {
                <tr>
                    <td> @item.FirstName @Html.ActionLink("Visa Profil", "OtherProfile", "Profile", routeValues: new { item.Id }, htmlAttributes: null)
                    </td>
                   </tr>
            }
            @if (Model.User.Count() == 0) { 
            <tr>
            <h5>Din Sökning gav inga träffar</h5>
            </tr>
                    }


    </tbody>
</table>
