@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

}

<h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Ett error uppstod när du skulle besöka sidan. Kontrollera din internetanslutning</h2>


