body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#homepageJumbotron {
    background-image: url(../Images/homepageFrontImages.jpg);
    background-size: 100% auto;
}

    #homepageJumbotron h1, #homepageJumbotron p {
        color: white;
    }

.outer {
    width: 800px;
    background-color: #f2f2e8;
    position: relative;
    left: 50%;
    margin-left: -400px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    float:left;
}

.catBox {
    background-color: rgb(250, 250, 250);
    width: 98%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0.5%;
    margin-right: 0.5%;
    padding-top: 2em;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .catBox a {
        text-decoration: none;
        color: black;
    }

    .catBox h3 {
        text-align: center;
    }

  